apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: chat-app
spec:
  selector:
    matchLabels:
      app: frontend-selec
  template:
    metadata:
      labels:
        app: frontend-selec
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: frontend-sa
      containers:
      - name: frontend-container
        image: krishna026/chat-app-frontend-image
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000  
          privileged: false
          allowPrivilegeEscalation: false 
          readOnlyRootFilesystem: true  
          capabilities:
            drop: ["ALL"] 
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        env:
        - name: NODE_ENV
          value: "production"
