apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: chat-app
spec:
  selector:
    matchLabels:
      app: frontend-selec
  template:
    metadata:
      labels:
        app: frontend-selec
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
        runAsUser: 101
        fsGroup: 101
      serviceAccountName: frontend-sa
      containers:
      - name: frontend-container
        image: krishna026/chat-app-frontend-image
        securityContext:
          runAsNonRoot: true
          runAsUser: 101
          privileged: false
          allowPrivilegeEscalation: false 
          readOnlyRootFilesystem: false  
          capabilities:
            drop: ["ALL"] 
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        env:
        - name: NODE_ENV
          value: "production"
        volumeMounts:
        - name: nginx-cache
          mountPath: /var/cache/nginx
        - name: nginx-runtime
          mountPath: /var/run
      volumes:
      - name: nginx-cache
        emptyDir: {}
      - name: nginx-runtime
        emptyDir: {}
